@{
    ViewBag.Title = "LearniVerse Gainz";
}

<div class="container mt-5">
    <div class="row">

        <!-- Welcome Card -->
        <div class="col-md-12 mb-4">
            <div class="card shadow-sm bg-light">
                <div class="card-body text-center">
                    <h2 class="card-title font-weight-bold">Welcome to Learniverse Gainz</h2>
                    <p class="card-text lead">Your All-in-One Solution to Fitness and Wellness</p>
                </div>
            </div>
        </div>

        <!-- Join Now Section -->
        <div class="col-md-12 mb-4">
            <div class="card shadow-sm bg-primary text-white">
                <div class="card-body text-center">
                    <h2 class="card-title display-4 font-weight-bold">Ready to Transform Your Fitness?</h2>
                    <p class="card-text lead">Join LearniVerse Gainz today and start your journey to a healthier you!</p>
                    <a href="@Url.Action("Plans", "Memberships")" class="btn btn-lg btn-light font-weight-bold mt-3">Join Now</a>
                </div>
            </div>
        </div>

        <!-- Features Cards -->
        <div class="col-md-3 mb-4">
            <div class="card shadow-sm h-100">
                <img class="card-img-top" src="https://unsplash.com/photos/AkEr0jc5Lvs/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTV8fGNyb3NzZml0fGVufDB8fHx8MTcyMzAzMDQ0Mnww&force=true&w=640g" alt="Join and Choose Plan">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center font-weight-bold">Join and Choose Plan</h5>
                    <p class="card-text">All registered students have the opportunity to use the app to track their fitness. Join, choose a plan, make a payment, and receive an access code.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card shadow-sm h-100">
                <img class="card-img-top" src="https://unsplash.com/photos/x2lMeLwtmFM/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTh8fGZhdCUyMGxvc3N8ZW58MHx8fHwxNzIzMDI1NTY4fDA&force=true&w=640" alt="Calculate BMI">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center font-weight-bold">Calculate BMI</h5>
                    <p class="card-text">Based on your height and weight, calculate your BMI, BMR, BF%, and lean muscle mass. Get visual feedback and track your weight gain or loss.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card shadow-sm h-100">
                <img class="card-img-top" src="https://unsplash.com/photos/XW47yQNE0TQ/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MzR8fG11c2NsZXxlbnwwfHx8fDE3MjMwMDIxMjF8MA&force=true&w=640" alt="Track and Set Goals">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center font-weight-bold">Track and Set Goals</h5>
                    <p class="card-text">Set workout goals for the week and check-in to track attendance. Receive weekly reminders and earn rewards for consistent tracking and meeting goals.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card shadow-sm h-100">
                <img class="card-img-top" src="https://unsplash.com/photos/R0y_bEUjiOM/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNzIzMDUyMjEzfA&force=true&w=640" alt="Connect With Personal Trainers">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center font-weight-bold">Connect With Personal Trainers</h5>
                    <p class="card-text">Find a personal trainer to help you train to become the best version of yourself!</p>
                </div>
            </div>
        </div>

    </div>
</div>
