@{
    ViewBag.Title = "QuizSubmitted";
}

<h2>Quiz Submitted</h2>

<p>Your quiz has been successfully submitted.</p>

<div>
    <a href="@Url.Action("Home", "Students")" class="btn btn-primary">Back to Home</a>
</div>