@model LearniVerseNew.Models.ApplicationModels.Store_Models.Order

@{
    ViewBag.Title = "Order Updated";
}

<h2>Item Updated Successfully</h2>
<p>This order has been updated to the latest stage: @Model.Status</p>

<p>Order ID: @Model.OrderID</p>
<p>Date Ordered: @Model.DateOrdered</p>
<p>Total Price: @Model.TotalPrice</p>


