@model LearniVerseNew.Models.ApplicationModels.Regimen_Models.Workout
@{
    ViewBag.Title = "Attendance Recorded";
}

<div class="text-center mt-5">
    <h1 class="text-lg">Attendance Recorded!</h1>
    <h4>You Trained @Model.Name @Model.TimesTrained Times!</h4>
    <p>Keep up the good work!</p>
    
    <br />
    <p>You may close this tab...</p>
</div>

