
@{
    ViewBag.Title = "NoBodyCompositions";
}

<div class="text-center mt-5">
    <h1 class="text-lg">No Records Found</h1>
    <p>Looks like it's your first time here! Lets get our journey started!</p>
    <a href="@Url.Action("NewComposition", "BodyComposistions")" class="btn btn-danger">Let's Go!</a>
    <a href="@Url.Action("MembershipHome", "Home")" class="btn btn-outline-info">Go Back</a>
</div>

